<div class="profile-input">
    <label class="profile-input__container">
        <input
                class="profile-input__element"
                type={{type}}
                name={{name}}
                required={{required}}
                maxlength={{maxlength}}
                minlength={{minlength}}
        />
        <span class="profile-input__label">{{label}}</span>
    </label>
    <p class="profile-input__helper-text"></p>
</div>
