<div class="input {{#if status}}input__{{status}}{{/if}}">
    <label class="input__container">
        <input
                class="input__element"
                placeholder=""
                name={{name}}
                type={{type}}

        />
        <span class="input__label {{#if status}}input__isValid_{{status}}{{/if}}">{{label}}</span>
    </label>
    <p class="input__helper-text">{{help}}</p>
</div>
