<div class="input_field {{#if status}}input_field__{{status}}{{/if}}">
    <label class="input_field__container">
        {{{input}}}
        <span class="input_field__label {{#if status}}input_field__isValid_{{status}}{{/if}}">{{label}}</span>
    </label>
    <p class="input_field__helper-text">{{help}}</p>
</div>
