<div class="registration-content">
    {{{emailInput}}}
    {{{loginInput}}}
    {{{firstNameInput}}}
    {{{lastNameInput}}}
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{passwordAgainInput}}}
</div>
{{{primaryButton}}}
{{{linkButton}}}
