<li class="message {{#unless owner}}message_is-not-owner{{/unless}} {{#if srcImg}}message_is-img{{/if}}">
    {{#if text}}
        <p class="message__text {{#if owner}}message__text_owner{{/if}}">
            {{{text}}}
            {{#unless owner}}
                <time class="message__time">{{{date}}}</time>
            {{/unless}}
            {{#if owner}}
                <time class="message__time {{#unless isRead}}message__time_is-not-read{{/unless}}{{#if
                        isRead}}message__time_is-read{{/if}}">{{{date}}}</time>
            {{/if}}
        </p>
    {{/if}}
    {{#if srcImg}}
        <img class="message__img" src={{srcImg}} alt="Пользовательское изображение"/>
        {{#unless owner}}
            <time class="message__time message__time_is-img">{{{date}}}</time>
        {{/unless}}
        {{#if owner}}
            <div class="message__time_wrapper">
                <time class="message__time message__time_is-img  {{#unless
                        isRead}}message__time_is-not-read{{/unless}}{{#if
                        isRead}}message__time_is-read{{/if}}">{{{date}}}</time>
            </div>
        {{/if}}
    {{/if}}
</li>
